<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('groom-putting-ring-bride-s-finger.jpg') %>);">
    <div class="container">
      <h1>Find the Perfect Celebrant for Your Special Occasion!</h1>
      <p>Browse through our network of skilled professionals and book the right one for your needs.</p>
      <div class="button-container">
      <%= link_to "See available Celebrants", celebrants_url, :class => 'btn btn-primary' %>
      <%= link_to "Become a Celebrant", new_celebrant_url, :class => 'btn btn-primary' %>
    <%# <button class="btn btn-primary">See Available Celebrants</button>
    <button class="btn btn-primary">Become a Celebrant</button> %>
  </div>
    </div>
  </div>
