<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('groom-putting-ring-bride-s-finger.jpg') %>);">
    <div class="container">
      <h1>Find the Perfect Celebrant for Your Special Occasion!</h1>
      <p>Browse through our network of skilled professionals and book the right one for your needs.</p>
      <div class="button-container">
      <%= link_to "See available Celebrants", celebrants_url, :class => 'btn btn-primary' %>
      <%= link_to "Become a Celebrant", new_celebrant_url, :class => 'btn btn-primary' %>
    <%# <button class="btn btn-primary">See Available Celebrants</button>
    <button class="btn btn-primary">Become a Celebrant</button> %>
  </div>
    </div>
  </div>
<div>
  <h1>Unionify's Story</h1>
  <p>Life is full of celebrations, and many of these significant life events need a celebrant!
     Maybe you are someone who is looking to find a celebrant for an important commemmoration, or maybe you are a celebrant 
     who is seeking to post their services?
  </p>
</div>
<div>
  <h2>What is a celebrant?</h2>
  <p>A celebrant is some who officiates various ceremonies such as weddings, funerals, vow renewals and more.
    They can tailor the service to the prefernces and beliefs of their clients,
    making the event just that bit more meaningful and personal. They can also hold religious or non-relious afflilations.
    </p>
</div>